<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/sponsors">Our Sponsors</a></li>
		<li><a href="/sponsor">Sponsor Us</a></li>
		<li><a href="/tickets">Tickets</a></li>
		<li><a href="/timetable">Timetable</a></li>
		<li><a href="/coc">Code of Conduct</a></li>
		<li><a href="/coc/handling-guidelines">Incident Handling Guidelines</a></li>
		<li><a href="/staff">Staff</a></li>
		<li><a href="https://s.flawcon.xyz/slack"><i class="fab fa-slack"></i></a></li>
		<li><a href="https://discord.gg/fEWhcEx"><i style="color: #7289DA" class="fab fa-discord"></i></a></li>
	</ul>
</nav>
