<!-- Facebook, Linkedin, Reddit and many others Open Graph -->
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image:type" content="image/png" /> <!-- less than 5mB -->
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="315" />
<meta property="og:image" content="{{ site.cover }}" />
<meta property="og:locale" content="{{ site.lang }}" />
<meta property="og:locale:alternate" content="{{ site.lang_alternate }}" />

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
<meta name="twitter:image" content="{{ site.cover }}" />
<meta name="twitter:author" content="{{ site.twitter }}" />

<!-- Linkedin OGP cards -->
<meta property="og:image" content="{{ site.cover }}" />
<meta property="og:image:width" content="180" />
<meta property="og:image:height" content="110" />

<!-- Google+ OGP cards -->
<meta itemprop="name" content="{{ page.title }}" />
<meta itemprop="author" content="{{ site.google }}" />
<meta itemprop="description" content="{{ page.description }}" />
<meta itemprop="image" content="{{ site.cover }}" />
